<body>
  <nav>
    <div class="nav-wrapper green">
      <a href="/" class="brand-logo center">picterest</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Sas</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">services</a></li>
      </ul> -->
      <% if user_signed_in? %>
  <div class="user_nav grid-6">
    <ul class="right hide-on-med-and-down user__info">
      <li>
        <a href="/users/<%= current_user.id %>">マイページ</a></li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
         <a class="post" href="/pictures/new">投稿する</a>
      </li>
    </ul>
    <ul class="sidenav user__info" id="mobile-demo">
      <li>
        <a href="/users/<%= current_user.id %>">マイページ</a></li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
         <a class="post" href="/pictures/new">投稿する</a>
      </li>
    </ul>
  </div>
  <% else %>
    <div class="grid-6">
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    </div>
  <% end %>
    </div>
  </nav>

</body>
